<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${reviewModel.name}">A Review</title>
    <link href="/css/style.css" rel="stylesheet"/>

</head>

<body>

<header>
    <h1 th:text="${reviewModel.name}">A Review</h1>
</header>

<main>
    <ul>
        <p><a href="/reviews">Travel Reviews</a></p>


        <li th:text="${reviewModel.name}"></li>
    </ul>
    <h2 th:text="${reviewModel.description}"></h2>
    <img th:src="${reviewModel.image}" />






</main>

<footer>
    <small>&copy travel review</small>
</footer>

</body>
</html>